<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Status Dropdown In Technology Risk">
		<parameter name="bname" value="chrome"></parameter>
		<classes>
			<class name="technologyRisk.DropdownStatus" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Risk Impact Dropdown In Technology Risk">
		<parameter name="bname" value="chrome"></parameter>
		<classes>
			<class name="technologyRisk.DropdownRiskImpactCategory" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Risk Response Dropdown In Technology Risk">
		<parameter name="bname" value="chrome"></parameter>
		<classes>
			<class name="technologyRisk.DropdownRiskResponse" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
